<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sami.s305047">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewStudentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditStudentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NewMessageActivity"
            android:parentActivityName=".MainActivity" />

        <service android:name="MyService"></service>
        <service android:name="MyServiceWeekly"></service>

        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.sami.s305047.MyBroadcastReceiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyBroadcastReceiverWeekly">
            <intent-filter>
                <action android:name="com.example.sami.s305047.MyBroadcastReceiverWeekly" />
            </intent-filter>
        </receiver>
    </application>
</manifest>